h1 {
}

.nav {
}
.nav ul {
  display: inline;
  padding: 0;
}
.nav li {
  display: inline;
  padding-left: 10px;
}

#mainheader {
}
#mainheader img {
  float: left;
  padding: 10px;
}
#mainheader h1 {
  font-size: 40px;
}
#mainheader h2 {
  font-size: 36px;
}
